AddDefaultCharset UTF-8

<IfModule mod_mime.c>
  AddCharset UTF-8 .html .css .js .json .txt
</IfModule>

<Files "config.php">
  Require all denied
</Files>

<IfModule !mod_authz_core.c>
  <Files "config.php">
    Order allow,deny
    Deny from all
  </Files>
</IfModule>

Options -Indexes
